/**
 * This file contains opinionated stylistic overrides
 * to the default Carbon styles.
 */

// Button loading state
button.cv-button.loading::after {
	content: '';
	animation: ellipsis 800ms infinite;
	width: 1rem;
	margin-right: -1rem;
}

// Links
a {
	text-decoration: none;
}

// Header styles
h1,
h2,
h3,
h4,
h5 {
	margin-top: 0;
	margin-bottom: 1rem; // 16px
}
h1 {
	font-weight: 300;
}
h2 {
	font-size: 1.75; // 28px
	font-weight: 600;
}
h3 {
	font-size: 1.375rem; // 22px
	font-weight: 600;
}
h4 {
	font-size: 1rem; // 16px
	font-weight: 600;
}
h5 {
	font-size: 1rem; // 16px
	font-weight: 400;
	text-transform: uppercase;
	font-size: $font-size-xsmall;
}

// Code blocks
code {
	display: inline-block;
	font-size: $font-size-xsmall;
	line-height: calc($line-height - 2px);
	height: $line-height;
	background: $black-05;
	padding: 0 0.25rem;
	border: solid 1px $black-10;
	box-sizing: border-box;
	border-radius: 0.125rem;
}

// Form layout
form.cv-form,
form.cv-form .cv-form-group {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
form.cv-form .cv-form-group {
	padding: 1rem 0 2rem 0;
	border-top: solid 1px $black-10;
	margin: 0;
}
form.cv-form .cv-form-group > legend {
	text-transform: uppercase;
	margin-left: 1rem;
	padding: 0 0.5rem;
}

// Checkboxes
.checkbox-wrap {
	display: flex;
	gap: 1rem;
}
.checkbox-wrap.cbw-v {
	flex-direction: column;
	gap: 0;
}
.checkbox-wrap.cbw-h {
	flex-direction: row;
}
.checkbox-wrap.cbw-h > div.cv-checkbox:first-of-type {
	margin-top: 0;
}
.checkbox-group > label {
	color: #525252;
	display: block;
	font-size: $font-size-xsmall;
	margin-bottom: 0.5rem;
}
.checkbox-wrap > div.cv-checkbox {
	flex: 0;
}
.checkbox-wrap > div.cv-checkbox label {
	white-space: nowrap;
}
.checkbox-wrap > div.cv-checkbox.error label:before {
	color: $error;
	border-color: $error;
}

// Button sets
// They use box shadow instead of gap, causing weird behavior when stacked in a grid
.cv-button-set.bx--btn-set .cv-button.bx--btn,
.cv-button-set.bx--btn-set--stacked .cv-button.bx--btn {
	--webkit-box-shadow: none;
	box-shadow: none;
}
.cv-button-set {
	gap: 1px;
}
