/**
 * THIS FILE IS IMPORTED INTO EVERY COMPONENT - DO NOT BLOAT
 * https://austingil.com/global-sass-vue-project/
 */

@use 'sass:color';

// Fonts
$font-fam: 'IBM Plex Sans', sans-serif;

$font-size-xlarge: 1.5rem; // 24px
$line-height-xlarge: 2rem; // 30px

$font-size-large: 1.25rem; // 20px
$line-height-large: 1.75rem; // 28px

$font-size: 1rem; // 16px
$line-height: 1.375rem; // 22px

$font-size-small: 0.875rem; // 14px
$line-height-small: 1.2rem; // 19px

$font-size-xsmall: 0.75rem; // 12px
$line-height-xsmall: 1.0625rem; // 17px

// Colors - blacks & grays
$black: #393939;
$black-60: rgba(0, 0, 0, 0.6);
$black-30: rgba(0, 0, 0, 0.3);
$black-20: rgba(0, 0, 0, 0.2);
$black-10: rgba(0, 0, 0, 0.1);
$black-05: rgba(0, 0, 0, 0.05);
$black-03: rgba(0, 0, 0, 0.03);
$white: #fff;
$white-80: rgba(255, 255, 255, 0.8);
$white-50: rgba(255, 255, 255, 0.5);
$white-30: rgba(255, 255, 255, 0.3);
$white-10: rgba(255, 255, 255, 0.1);
$soft-bg: #f4f4f4; // Same background as carbon dropdowns
$extra-soft-bg: #fafafa;
$soft-bg-hover: #e9e9e9; // The quivalent of $soft-bg + $black-05 overlay (browser not figma), used by carbon dropdowns

// Colors
$blue: #0f62fe; // IBM Blue
$blue-hover: #0043ce;
$blue-light: #3d80ff;
$blue-30: color.mix($blue, white, 30%);
$blue-20: color.mix($blue, white, 20%);
$blue-10: color.mix($blue, white, 10%);
$blue-05: color.mix($blue, white, 5%);
$success: #198038;
$warning: #f1c21b;
$caution: #ff832b;
$error: #da1e28;
$success-soft: #87b454;
$highlight: #fff7cc; // Unused, for data tables
$highlight-soft: color.mix($highlight, white, 40%);
$highlight-soft-sel: color.mix($highlight-soft, $blue-10, 50%);
$highlight-border: #e5deb8; // Equivalent of 10% black overlay
$aux-green: #e2ead9;
$aux-green-hover: darken($aux-green, 5%);
$yellow: #ffde00; // Weird bug in chrome causes ::selection with bg #fde to render blue...

// Responsive breakpoints.
// Should be used as max values.
$bp-xlarge: 1800px; // The point above which we limit page content width and center it
$bp-large: 1200px;
$bp-medium: 1000px;
$bp-small: 700px;
$bp-xsmall: 500px;
